<h1>Welcome</h1>
<%= link_to 'Railway stations', admin_railway_stations_path %><br>
<%= link_to 'Trains', admin_trains_path %><br>
<%= link_to 'Routes', admin_routes_path %><br>
<%= link_to 'Tickets', admin_tickets_path %><br>
<%= link_to 'Search', search_path %><br>