<%= form_with(model: train) do |form| %>
  <%= render 'common/error_html', resource: @route %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
