<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
  <strong>Carriages:</strong>
  <%= "Compartment:  #{@train.carriages.count { |x| x.compartment }}" %>
  <%= "Econom-class:  #{@train.carriages.count { |x| !x.compartment }}" %> <br>
  <strong>Number of places</strong>
  <%= "Up places: #{@train.carriages.inject(0){|sum,x| sum + x.up_seats }}" %>
  <%= "Down places: #{@train.carriages.inject(0){|sum,x| sum + x.down_seats }}" %> <br>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
