<h1>Form for buy ticket</h1>

<%= form_for([@train, @ticket]) do |f| %>
  <%= render 'common/error_html', resource: @ticket %>

  <%= f.hidden_field :start_station, :value => @start_station.id %>
  <%= f.hidden_field :end_station, :value => @end_station.id %>

  <div class="field">
    <%= f.label :start_station %><br>
    <%= f.text_field :start_station, value: @start_station.title, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :end_station %><br>
    <%= f.text_field :end_station, value: @end_station.title, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :user_first_name %><br>
    <%= f.text_field :user_first_name %>
  </div>

  <div class="field">
    <%= f.label :user_last_name %><br>
    <%= f.text_field :user_last_name %>
  </div>

  <div class="field">
    <%= f.label :user_middle_name %><br>
    <%= f.text_field :user_middle_name %>
  </div>

  <div class="field">
    <%= f.label :user_passport %><br>
    <%= f.text_field :user_passport %>
  </div>

  <div class="field choose">
    <%= f.label 'Carriage type' %><br>
    <%= f.select :carriage_type, @train.get_carriage_types, class: 'carriage'%>
  </div>

  <div class="field choose seat_type">
    <%= f.label 'Seat type' %><br>
    <%= f.select :seat_type, Carriage::SEATS_TYPES.map(&:humanize), class: 'seat_type_select' %>
  </div>

  <div class="field">
    <%= f.submit 'Create Ticket' %><br>
  </div>

<% end %>
