<tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.user.id %></td>
  <td><%= ticket.user_first_name %></td>
  <td><%= ticket.user_last_name %></td>
  <td><%= ticket.user_middle_name %></td>
  <td><%= ticket.user_passport %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= link_to 'Show', admin_ticket_path(ticket) %></td>
  <td><%= link_to 'Edit', edit_admin_ticket_path(ticket, ticket.train) %></td>
  <td><%= link_to 'Destroy', admin_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
