<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.title %>
  <% if @route.trains.empty? %>
  <p>No trains</p>
<% else %>
  <table>
    <thead>
    <th>Trains</th>
    <th colspan="3"></th>
    </thead>
    <tbody>
    <% @route.trains.each do |train| %>
      <tr>
        <td><%= "#{train.number}" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @route.railway_stations.empty? %>
  <p>No stations</p>
<% else %>
  <table>
    <thead>
    <th>Stations</th>
    <th colspan="3"></th>
    </thead>
    <tbody>
    <% @route.railway_stations.ordered.each do |station| %>
      <li>
        <p><strong><%= station.title %></strong>
          <%= form_tag update_position_railway_station_path(station.id), method: :post do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= label_tag :number %>
            <%= number_field_tag :number, station.index(@route.id) %>
            <%= submit_tag 'Save' %>
          <% end %>
        </p>
      </li>
    <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
