<%= form_with(model: train) do |form| %>
  <%= render 'common/error_html', resource: @train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :route %>
    <%= form.collection_select :route_id, Route.all, :id, :title %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :direction %>
    <%= form.check_box :direction %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
